*{
  margin: 0;
}

body{
  background-color: hsl(218, 23%, 16%);
}

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1440px;
}